@model WBrand.Common.Page.PaginationSet<WBrand.Core.Domain.Models.Catalog.ProductModel>
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="desc-scrum">
                <p>Trang chu </p>
                <p>Nhom dinh hinh </p>
                <p>Nhom dinh hinh IT40x40R1 </p>
            </div>
        </div>
    </div>
</div>
<div class="div-box mb">
    <div class="tour-wrapper">
        <div class="container">
            <div class="row">
                @{Html.RenderAction("Category", "Product");}
                <div class="col-md-9 col-sm-9">
                    <div class="product-wrap">
                        <div class="product-content">
                            @foreach (var item in Model.Items)
                            {
                                <div class="col-md-4 col-sm-4">
                                    <div class="product-ct">
                                        <div class="product-img">
                                            <a href="/product/@(item.Alias).html"><img class="img-responsive" src="@Url.Action("Thumbnail", "Image", new {FileName=item.Image, w="861", h="643" })" alt="@item.Name"></a>
                                        </div>
                                        <div class="product-info">
                                            <h5><a href="/product/@(item.Alias).html">@item.Name</a></h5>
                                            <p>@item.ShortContent</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="hpagination">
                        <nav class="page-navigation">
                            <ul class="pagination1">
                                @if (Model.TotalPages > 1)
                                {
                                    var startPageIndex = Math.Max(1, Model.Page - 5 / 2);
                                    var endPageIndex = Math.Min(Model.TotalPages, Model.Page + 5 / 2);
                                    if (Model.Page > 1)
                                    {
                                        <li><a href="?p=@(Model.Page-1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                    }
                                    for (int i = startPageIndex; i <= endPageIndex; i++)
                                    {
                                        if (Model.Page == i)
                                        {
                                            <li class="active"><a href="?p=@i">@i</a></li>

                                        }
                                        else
                                        {
                                            <li><a href="?p=@i">@i</a></li>
                                        }
                                    }
                                    if (Model.Page < Model.TotalPages)
                                    {
                                        <li><a href="?p=@(Model.Page+1)"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                    }
                                }
                                @*<li><a href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                    <li class="active"><a href="">1</a></li>
                                    <li><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>*@
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
