@model WBrand.Common.Page.PaginationSet<WBrand.Core.Domain.Models.Blog.BlogPostModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="desc-scrum">
                <p>Trang chu </p>
                <p>Nhom dinh hinh </p>
                <p>Nhom dinh hinh IT40x40R1 </p>
            </div>
        </div>
    </div>
</div>
<div class="div-box mb">
    <div class="tour-wrapper">
        <div class="container">
            <div class="row">
                @{Html.RenderAction("Category", "Blog");}
                <div class="col-md-9 col-sm-9">
                    <div class="news-wrap">
                        <div class="news-content">
                            @foreach (var item in Model.Items)
                            {
                                <div class="col-md-12 col-sm-12">
                                    <div class="news-ct clearfix">
                                        <div class="news-img">
                                            <a href="/blog/@(item.Alias).html"><img class="img-responsive" src="@Url.Action("Thumbnail", "Image", new {FileName=item.Image, w="262", h="195" })" alt=""></a>
                                        </div>
                                        <div class="news-info">
                                            <h3><a href="/blog/@(item.Alias).html">@item.Name</a></h3>
                                            <span><i class="fa fa-calendar" aria-hidden="true"></i> @item.PublishDate.ToString("dd-MM-yyyy")</span>
                                            <p>@item.ShortContent</p>
                                            <div class="link float-right">
                                                <a href="/blog/@(item.Alias).html">Đọc thêm</a>
                                                <ul class="share_social">
                                                    chia sẽ:
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="hpagination">
                        <nav class="page-navigation">
                            <ul class="pagination1">
                                @if (Model.TotalPages > 1)
                                {
                                    var startPageIndex = Math.Max(1, Model.Page - 5 / 2);
                                    var endPageIndex = Math.Min(Model.TotalPages, Model.Page + 5 / 2);
                                    if (Model.Page > 1)
                                    {
                                        <li><a href="/blog/@(Model.Page-1)/"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                    }
                                    for (int i = startPageIndex; i <= endPageIndex; i++)
                                    {
                                        if (Model.Page == i)
                                        {
                                            <li class="active"><a href="/blog/@i/">@i</a></li>

                                        }
                                        else
                                        {
                                            <li><a href="/blog/@i/">@i</a></li>
                                        }
                                    }
                                    if (Model.Page < Model.TotalPages)
                                    {
                                        <li><a href="/blog/@(Model.Page+1)/"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                    }
                                }
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>